<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: sans-serif;
        }
        h1, ul {
            margin-inline: auto;
            width: fit-content;
        }
    </style>
    <title>Closest stations</title>
</head>
<body>
    <h1>Velib</h1>
    <ul>
        {{range .Stations}}
        <li>{{.Name}} {{.Distance}} m {{if $.Returning}} {{.NumDocksAvailable}} spaces {{else}} {{.NumBikesAvailable}} bikes {{end}}</li>
        {{end}}
    </ul>
</body>
</html>